*{
    padding: 0;
    margin: 0;
}
.thanhxanh{
    height: 43px;
    background-color: #3b5998;
    padding-left: 800px;
}
._1khoi{
    float: left;
    position: relative;
    
}
.dehienthi{
    position: absolute;
    width: 200px;
    font-size: 13px;
    right: 3px;
    opacity: 0;
    visibility: hidden;
}
.declick{
    padding: 10px 16px;
}
.declick i.fa{
    font-size: 22px;
    cursor: pointer;
    transition: .4s;
}
.dehienthi::after{
    content: "";
    position: absolute;
    top: -20px;
    right: 8px;

    border: 10px solid rgba(190, 40, 40, 0) ;
    border-bottom-color: #fff;
}
.mautrang{
    color: #fff;
}
.ra{
    opacity: 1;
    visibility: visible;
}