*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family:Tahoma, Geneva, sans-serif	;
    width: 100%;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #a8b9c0;
}

p{
    color: #a8b9c0;
    text-align: center;
}

li{
    list-style: none;
}
.wrapper{
    margin: 0 auto;
}
h2{
    text-align: center;
}
h4{
    text-align: center;
    color: #ffc400;
}
hr{
    width: 10rem;
    margin: 1.5rem auto 2rem auto;
}
/*.bottom{
    background-color: #ff3150;
    margin-left: .5rem;
    color: yellow;
    display: inline;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}*/
.logo-title{
    margin-top: 3rem;
}
.number{
   
}
.title{
    position: absolute;
    margin-left: -80px;
}
/***********HEADER*/
#header{
    background-color: #19283f;
    width: 100%
}
#navBar{
    display: flex;
}
a:hover{
    color: blue;
}
#logo{
    width: 50%;
}
#header-title{
    color: aliceblue;
    text-align: center;
    padding: 9rem;
}
#search a{
    display: block;
}
#search {
    display: flex;
}
#navBar ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/************SERVICES*/
#service{
    padding-bottom: 2.5rem;
}
#service li{
    width: 100%;
}
#service-title{
    text-align: center;
}
.service-content{
width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 1rem;
justify-content: space-between;
}
.service-content div{
    width: 90%;
    text-align: center;
}
.content-img {
        position: relation;
        height: 50%;
    }
.title{
        position: absolute;
    }


/************PORTFOLIO*/
#portfolio{
    background-color: #eff7fa;
    width: 100%;
    text-align: center;
    padding-bottom: 3rem;
}
#portfolio-menu{
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
#portfolio-works{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 1rem;
}
#portfolio-works div{
    background-color: white;
    height: 180px;
}
#portfolio-works div:hover{
    background-color: #33d1cc;
      color: #eff7fa;
}
#portfolio-works p{
    color: #eff7fa;

}
#portfolio-menu a:hover{
    background-color: #ff3150;
    color: yellow;
    border-radius: 15px;
}
/****************ABOUT US*/
#aboutUs-title{
    margin: 0 auto;
    width: 50%;
    padding-bottom: 3rem;
    text-align: center;
}
#aboutUs-info{
}
#aboutUs-info p{
    text-align: left;
}
#aboutUs-info h2{
    text-align: left;
}
#info-macBook{
    display: flex;
    justify-content: space-between;
}
/***************CLIENT*/
#clients .wrapper ul{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-around;
}
/***************MEET THE TEAM*/
#meetTheTeam h2{
    color: rgb(214, 214, 119);
}
#meetTheTeam{

    background-color: #eff7fa;
    width: 100%;
    padding-bottom: 3rem;
    padding-top: 3rem;
}
#meetTheTeam-title{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3rem;
}
#meetTheTeam-team {
     display: flex;
     flex-wrap: wrap;
    justify-content: space-around;
}
#meetTheTeam-team li{
    width: 300px;
    margin: 0.75rem 1rem;
}
.mask{
    background-color: #33d1cc;
    color: #eff7fa;
    padding: 1rem;
    border-top: 14rem solid white
}
.path{
    background-color: white;
    padding: 2rem;
}
/*****************ADVERTISE*/
#advertise{
    width: 100%;
    background-color: #19283f;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
#advertise-title h2{
    color: #eff7fa;
}
#advertise-title{
    text-align: center;
}
/******************BLOG*/
#blog{
    padding-bottom: 3rem;
}
#blog-title{
    padding-bottom: 3rem;
}
#blog ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 3rem;
    justify-content: space-around;
}
#blog ul li{
    background-color: #ffc400;
    border-top: 10rem solid #eff7fa;
    margin: .6rem;
    padding: 1rem;
}
#blog ul li p{
    text-align: left;
}
#blog ul li strong{
    color: black;
}
#blog .wrapper{
    text-align: center;
}
/**************newsletter*/
#newsletter{
    width: 100%;
    background-color: #ffc400;
    padding: 2rem;
}
#newsletter .bottom{
    background-color: #19283f;
    margin: 0 1rem;
}
#newsletter p{
    color: #19283f;
    margin: 0 1rem;
}
#newsletter .wrapper{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
#newsletter input{
    background-color: #ffc400;
    color: white;
    width: 30%;
    height: 30px;
    border: 0;
    border-bottom: 1px solid white;
}
#newsletter a{
    display: block;
    outline: 2px solid #19283f;
    outline-offset: .5rem;
}
/*********Footer*/
#footer{
    background-color: #19283f;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
#footer p{
    text-align: left;
}
#footer h4{
    text-align: left;
    color: #eff7fa;
}

#footer .wrapper{
    display: flex;
    justify-content: space-around;
}
#footer .wrapper div{
    margin: 2rem;
}
.navBar-menu{
    display: none;
}
.navBar-menu i{
    display: block;
    margin: .2rem;
}


@media all and (max-width: 980px) {
    .navBar-menu{
        cursor: pointer;
        width: 100%;
        color: #eff7fa;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .service-content .content-item{
        display: flex;
    }
    .service-content{
        display: flex;
        flex-direction: column;
    }
    .content-item p,h4{
        text-align: left;
    }
    #header{
        position: relative;
    }
    #navBar ul{
        background-color: #19283f;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 3rem;
        right: 0;
        width: 25%;
        transform: translateX(100%);
        transition: transform 2s ;
        height: 90%;
    }
    #navBar ul a{
    }
    #navBar ul.open-navBar{
        transform: translateX(0%);
        transition: transform 2s;
    }
    #portfolio-menu{
        width: 80%;
    }
    #aboutUs-title {
        width: 80%;
    }
    #info-macBook{
        flex-wrap: wrap;
    }
    #macBook{
        padding: 2rem;
    }
    #macBook img{
        width: 100%;

    }
    #aboutUs-info h2,p,a{
        text-align: center;
        padding: 2rem;
    }
    #meetTheTeam-team{
        display: flex;
    }
    #footer .wrapper{
        flex-wrap: wrap;
    }
 }
